@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,500italic,600,600italic&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 420px
}
body {
  color: #334155;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: 0 0
}
.button--fw {
  width: 100%
}
.actions-header__log-in {
  height: 2.5rem;
  width: 3.8125rem;
  border: 1px solid #334155;
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem
}
.actions-header__sign-in {
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem;
  height: 2.5rem;
  width: 4.5625rem;
  background: #334155;
  color: #fff
}
.text-first-section__start-journey {
  background-color: #3b82f6;
  max-width: 14.875rem;
  height: 3rem;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem;
  border-radius: .5rem;
  margin-top: 1.5rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.email-signature-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-family: Inter,sans-serif
}
.left-section {
  background: #7447d7;
  background-color: #7447d7;
  width: 220px;
  display: inline-block;
  text-align: center;
  margin-left: 16px
}
.right-section {
  display: inline-block;
  width: 100%;
  max-width: 313px;
  margin-left: 16px;
  text-align: start;
  margin-right: 16px
}
.img-author {
  width: 120px;
  height: 120px;
  border-radius: 64px;
  margin-top: 27px
}
.title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 0
}
.profesion {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  display: block
}
.youtube {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px
}
.links {
  margin-top: 16px;
  margin-bottom: 20px
}
.logo-img {
  display: block;
  margin-bottom: 16px;
  margin-top: 16px
}
.right-title {
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  display: block
}
.right-links {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #7447d7;
  margin-bottom: 8px
}
.phone-link {
  color: #101828;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px
}
.img-mail {
  display: inline-block
}
.street-link {
  color: #101828;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px
}
.underline-none {
  text-decoration: none;
  color: #7447d7
}
@media (max-width:40.8125rem) {
  .text-first-section__start-journey {
    width: 100%
  }
}