@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,500italic,600,600italic&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 420px
}
body {
  color: #334155;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: 0 0
}
.button--fw {
  width: 100%
}
.actions-header__log-in {
  height: 2.5rem;
  width: 3.8125rem;
  border: 1px solid #334155;
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem
}
.actions-header__sign-in {
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem;
  height: 2.5rem;
  width: 4.5625rem;
  background: #334155;
  color: #fff
}
.text-first-section__start-journey {
  background-color: #3b82f6;
  max-width: 14.875rem;
  height: 3rem;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem;
  border-radius: .5rem;
  margin-top: 1.5rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: center;
  margin-left: .9375rem;
  margin-right: .9375rem;
  max-width: 100%
}
.header__menu {
  display: flex;
  align-items: center
}
.header__button-header {
  align-items: center
}
.menu {
  width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.menu__logo {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem
}
.menu__body-menu {
  display: flex;
  align-items: center
}
.body-menu {
  display: flex;
  align-items: center;
  padding-left: 1.75rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem
}
input[type=text] {
  height: 2.5rem;
  border-radius: .5rem;
  max-width: 38.875rem;
  outline: 0
}
.body-menu {
  font-family: Inter;
  font-weight: 500;
  font-size: .875rem
}
.body-menu__input-header {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  height: 2.5rem;
  border-radius: .5rem
}
.input-header {
  position: relative;
  display: flex;
  align-items: center
}
.input-header__find {
  margin-left: .625rem;
  margin-right: .625rem;
  width: 1rem;
  height: 1rem
}
.actions-header {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  width: 12.875rem;
  justify-content: space-between
}
.actions-header__basket {
  width: 1.5rem;
  height: 1.5rem
}
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px
}
.open {
  display: flex!important;
  align-items: center;
  flex-direction: column
}
.burger span {
  height: 2px;
  width: 80%;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: #000
}
.burger::after,
.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all .3s ease 0s
}
.burger::before {
  top: 0
}
.burger::after {
  bottom: 0
}
.burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0,-50%);
  transform: rotate(-45deg) translate(0,-50%)
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0,50%);
  transform: rotate(45deg) translate(0,50%)
}
@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.email-signature-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-family: Inter,sans-serif
}
.left-section {
  background: #7447d7;
  background-color: #7447d7;
  width: 220px;
  display: inline-block;
  text-align: center;
  margin-left: 16px
}
.right-section {
  display: inline-block;
  width: 100%;
  max-width: 313px;
  margin-left: 16px;
  text-align: start;
  margin-right: 16px
}
.img-author {
  width: 120px;
  height: 120px;
  border-radius: 64px;
  margin-top: 27px
}
.title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 0
}
.profesion {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  display: block
}
.youtube {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px
}
.links {
  margin-top: 16px;
  margin-bottom: 20px
}
.logo-img {
  display: block;
  margin-bottom: 16px;
  margin-top: 16px
}
.right-title {
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  display: block
}
.right-links {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #7447d7;
  margin-bottom: 8px
}
.phone-link {
  color: #101828;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px
}
.img-mail {
  display: inline-block
}
.street-link {
  color: #101828;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px
}
.underline-none {
  text-decoration: none;
  color: #7447d7
}
.heading1 {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 700
}
.heading2 {
  font-family: Inter;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600
}
.heading2m {
  font-family: Inter;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600
}
.heading3 {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 600
}
.heading4 {
  font-family: Inter;
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 600
}
.heading4m {
  font-family: Inter;
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 600
}
.heading5 {
  font-family: Inter;
  font-size: 1.125rem;
  line-height: 160%;
  font-weight: 600
}
.heading5m {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%
}
.paragraph-medium {
  font-family: Inter;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500
}
.paragraph {
  font-family: Inter;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400
}
.small-text {
  font-family: Inter;
  font-size: .875rem;
  line-height: 150%;
  font-weight: 400
}
.small-textm {
  font-family: Inter;
  line-height: 150%;
  font-weight: 400
}
.button-text {
  font-family: Inter;
  font-size: .875rem;
  line-height: 160%;
  font-weight: 500
}
.button-textm {
  font-family: Inter;
  font-size: .875rem;
  line-height: 160%;
  font-weight: 500;
  color: #000;
  transition: all .3s ease 0s
}
.label {
  font-family: Inter;
  font-size: .75rem;
  line-height: 0;
  font-weight: 600
}
.paragraph-header1__text {
  display: flex;
  justify-content: space-between
}
.paragraph-header1-text {
  text-align: center
}
.paragraph-header1-text__title {
  padding-top: .625rem
}
.paragraph-header1-text__text {
  padding-top: .625rem
}
@media (min-width:37.5em) {
  .small-textm {
    font-size: .875rem
  }
}
@media (min-width:61.99875em) {
  .input-header {
    margin-right: 2.5rem
  }
}
@media (min-width:78.25em) {
  input[type=text] {
    width: 36.25rem
  }
  .body-menu__input-header {
    width: 38.875rem
  }
  .body-menu__input-header {
    margin-left: 2.0625rem
  }
}
@media (min-width:81.25em) {
  .heading2m {
    font-size: 2rem
  }
  .heading4m {
    font-size: 1.25rem
  }
  .heading4m {
    line-height: 9.375%rem
  }
  .heading5m {
    font-size: 1.125rem
  }
}
@media (max-width:991.98px) {
  .burger {
    display: flex
  }
  .test {
    color: red
  }
  .nav {
    gap: 1.25rem;
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 49;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #a11515;
    -webkit-animation: burgerAnimation .4s;
    animation: burgerAnimation .4s;
    color: #fff
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px
  }
}
@media (max-width:61.99875em) {
  input[type=text] {
    width: 18.75rem
  }
  .body-menu__input-header {
    width: 18.75rem
  }
  .actions-header {
    margin-right: 1.25rem
  }
}
@media (max-width:61.99875em) and (max-width:47.99875em) {
  input[type=text] {
    width: 18.75rem
  }
  .body-menu__input-header {
    width: 18.75rem
  }
}
@media (max-width:61.875em) {
  .heading4m {
    font-size: 1rem
  }
  .heading4m {
    line-height: 6.875%rem
  }
  .heading5m {
    font-size: 1rem
  }
}
@media (max-width:47.99875em) {
  .body-menu {
    padding-left: 0
  }
  .body-menu {
    margin: 0 auto;
    margin-left: 0
  }
  .body-menu__input-header {
    margin-left: 1.25rem
  }
  .body-menu__input-header {
    padding-left: 0
  }
  .actions-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem
  }
}
@media (max-width:47.99875em) and (max-width:26.25em) {
  input[type=text] {
    width: 12.375rem
  }
  .body-menu__input-header {
    width: 15rem
  }
}
@media (max-width:40.8125rem) {
  .text-first-section__start-journey {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .heading2m {
    font-size: 1.25rem
  }
  .small-textm {
    font-size: .75rem
  }
}
@media (min-width:61.99875em) and (max-width:78.25em) {
  @supports (width:clamp(18.75rem ,-48.0127490193rem + 107.6840243058vw ,36.25rem)) {
    input[type=text] {
      width: clamp(18.75rem ,-48.0127490193rem + 107.6840243058vw ,36.25rem)
    }
  }
  @supports not (width:clamp(18.75rem ,-48.0127490193rem + 107.6840243058vw ,36.25rem)) {
    input[type=text] {
      width: calc(18.75rem + 17.5 * (100vw - 61.99875rem)/ 16.25125)
    }
  }
  @supports (width:clamp(18.75rem ,-58.0271613722rem + 123.8366279517vw ,38.875rem)) {
    .body-menu__input-header {
      width: clamp(18.75rem ,-58.0271613722rem + 123.8366279517vw ,38.875rem)
    }
  }
  @supports not (width:clamp(18.75rem ,-58.0271613722rem + 123.8366279517vw ,38.875rem)) {
    .body-menu__input-header {
      width: calc(18.75rem + 20.125 * (100vw - 61.99875rem)/ 16.25125)
    }
  }
}
@media (max-width:61.99875em) and (min-width:61.99875em) {
  input[type=text] {
    width: 28.25rem
  }
  .body-menu__input-header {
    width: 31.25rem
  }
}
@media (max-width:61.99875em) and (min-width:47.99875em) and (max-width:61.99875em) {
  @supports (width:clamp(18.75rem ,-13.8205803571rem + 67.8571428571vw ,28.25rem)) {
    input[type=text] {
      width: clamp(18.75rem ,-13.8205803571rem + 67.8571428571vw ,28.25rem)
    }
  }
  @supports not (width:clamp(18.75rem ,-13.8205803571rem + 67.8571428571vw ,28.25rem)) {
    input[type=text] {
      width: calc(18.75rem + 9.5 * (100vw - 47.99875rem)/ 14)
    }
  }
  @supports (width:clamp(18.75rem ,-24.1060267857rem + 89.2857142857vw ,31.25rem)) {
    .body-menu__input-header {
      width: clamp(18.75rem ,-24.1060267857rem + 89.2857142857vw ,31.25rem)
    }
  }
  @supports not (width:clamp(18.75rem ,-24.1060267857rem + 89.2857142857vw ,31.25rem)) {
    .body-menu__input-header {
      width: calc(18.75rem + 12.5 * (100vw - 47.99875rem)/ 14)
    }
  }
}
@media (max-width:47.99875em) and (min-width:47.99875em) {
  input[type=text] {
    width: 31.75rem
  }
  .body-menu__input-header {
    width: 34.375rem
  }
}
@media (max-width:47.99875em) and (min-width:26.25em) and (max-width:47.99875em) {
  @supports (width:clamp(12.375rem ,-11.0099646531rem + 89.085579631vw ,31.75rem)) {
    input[type=text] {
      width: clamp(12.375rem ,-11.0099646531rem + 89.085579631vw ,31.75rem)
    }
  }
  @supports not (width:clamp(12.375rem ,-11.0099646531rem + 89.085579631vw ,31.75rem)) {
    input[type=text] {
      width: calc(12.375rem + 19.375 * (100vw - 26.25rem)/ 21.74875)
    }
  }
  @supports (width:clamp(15rem ,-8.3849646531rem + 89.085579631vw ,34.375rem)) {
    .body-menu__input-header {
      width: clamp(15rem ,-8.3849646531rem + 89.085579631vw ,34.375rem)
    }
  }
  @supports not (width:clamp(15rem ,-8.3849646531rem + 89.085579631vw ,34.375rem)) {
    .body-menu__input-header {
      width: calc(15rem + 19.375 * (100vw - 26.25rem)/ 21.74875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:78.25em) {
  @supports (margin-left:clamp(1.25rem ,-0.0391693525rem + 2.6858394281vw ,2.0625rem)) {
    .body-menu__input-header {
      margin-left: clamp(1.25rem ,-.0391693525rem + 2.6858394281vw ,2.0625rem)
    }
  }
  @supports not (margin-left:clamp(1.25rem ,-0.0391693525rem + 2.6858394281vw ,2.0625rem)) {
    .body-menu__input-header {
      margin-left: calc(1.25rem + .8125 * (100vw - 47.99875rem)/ 30.25125)
    }
  }
}
@media (min-width:29.99875em) and (max-width:81.25em) {
  @supports (font-size:clamp(1.25rem ,0.8110046096rem + 1.463378942vw ,2rem)) {
    .heading2m {
      font-size: clamp(1.25rem ,.8110046096rem + 1.463378942vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.8110046096rem + 1.463378942vw ,2rem)) {
    .heading2m {
      font-size: calc(1.25rem + .75 * (100vw - 29.99875rem)/ 51.25125)
    }
  }
}
@media (min-width:61.875em) and (max-width:81.25em) {
  @supports (font-size:clamp(1rem ,0.2016129032rem + 1.2903225806vw ,1.25rem)) {
    .heading4m {
      font-size: clamp(1rem ,.2016129032rem + 1.2903225806vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.2016129032rem + 1.2903225806vw ,1.25rem)) {
    .heading4m {
      font-size: calc(1rem + .25 * (100vw - 61.875rem)/ 19.375)
    }
  }
  @supports (line-height:clamp(6.875%rem ,-1.1088709677%rem + 12.9032258065%vw ,9.375%rem)) {
    .heading4m {
      line-height: clamp(6.875%rem ,-1.1088709677%rem + 12.9032258065%vw ,9.375%rem)
    }
  }
  @supports not (line-height:clamp(6.875%rem ,-1.1088709677%rem + 12.9032258065%vw ,9.375%rem)) {
    .heading4m {
      line-height: calc(6.875%rem + 2.5% * (100vw - 61.875rem)/ 19.375)
    }
  }
  @supports (font-size:clamp(1rem ,0.6008064516rem + 0.6451612903vw ,1.125rem)) {
    .heading5m {
      font-size: clamp(1rem ,.6008064516rem + .6451612903vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6008064516rem + 0.6451612903vw ,1.125rem)) {
    .heading5m {
      font-size: calc(1rem + .125 * (100vw - 61.875rem)/ 19.375)
    }
  }
}
@media (min-width:29.99875em) and (max-width:37.5em) {
  @supports (font-size:clamp(0.75rem ,0.2501041493rem + 1.6663889352vw ,0.875rem)) {
    .small-textm {
      font-size: clamp(.75rem ,.2501041493rem + 1.6663889352vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.2501041493rem + 1.6663889352vw ,0.875rem)) {
    .small-textm {
      font-size: calc(.75rem + .125 * (100vw - 29.99875rem)/ 7.50125)
    }
  }
}
@media (any-hover:hover) {
  .button-textm:hover {
    color: #3b82f6
  }
}