//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;



	&--fw {
		width: 100%;
	}
}

.actions-header {

	&__log-in {
		cursor: pointer;
		height: toRem(40);
		width: toRem(61);
		border: 1px solid rgb(51, 65, 85);
		font-family: "Inter";
		font-weight: 500;
		font-size: toRem(14);
		color: rgb(51, 65, 85);
		transition: all 0.3s ease 0s;
	}

	&__sign-in {
		cursor: pointer;
		font-family: "Inter";
		font-weight: 500;
		font-size: toRem(14);
		height: toRem(40);
		width: toRem(73);
		background: rgb(51, 65, 85);
		color: white;
		transition: all 0.3s ease 0s;
	}

}

@media (any-hover: hover) {

	.actions-header__log-in:hover {
		background: rgb(51, 65, 85);
		color: white;

	}


	.actions-header__sign-in:hover {
		cursor: pointer;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(51, 65, 85);
		color: rgb(51, 65, 85);
	}
}

.potential-text__start-journey {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(59, 130, 246);
	max-width: toRem(238);
	height: toRem(48);
	color: white;
	font-family: "Inter";
	font-weight: 500;
	font-size: toRem(14);
	border-radius: toRem(8);
	margin-top: toRem(24);
	padding-left: 5px;
	padding-right: 5px;
	transition: all 0.3s ease 0s;

	@media (max-width: $tablet) {
		max-width: 100%;
	}
}

@media (any-hover: hover) {

	.potential-text__start-journey:hover {
		background: rgb(2, 6, 23);
		box-sizing: border-box;
		border-top: 1px solid rgb(226, 232, 240);
		border-left: 1px solid rgb(226, 232, 240);
	}
}

.button-start-instructor {
	display: flex;
	font-family: "Inter";
	gap: toRem(10);
	font-size: 14px;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: 0%;
	width: toRem(273);
	align-items: center;
	background: rgb(2, 6, 23);
	border-radius: toRem(8);
	padding-top: toRem(10);
	padding-bottom: toRem(10);
	padding-left: toRem(24);
	padding-right: toRem(24);
	color: rgb(255, 255, 255);
	transition: all 0.3s ease 0s;

	img {
		width: toRem(16);
		height: toRem(12);
	}


}

@media (any-hover: hover) {

	.button-start-instructor:hover {
		background-color: rgb(127, 163, 214);
		box-sizing: border-box;
		border-top: 1px solid rgb(226, 232, 240);
		border-left: 1px solid rgb(226, 232, 240);

		img {
			width: toRem(16);
			height: toRem(12);
		}

	}
}