//====================================================================================================
//====================================================================================================


.email-signature-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-family: Inter, sans-serif;

}


.left-section {
    background: #7447D7;
    background-color: #7447D7;
    width: 220px;
    display: inline-block;
    text-align: center;
    margin-left: 16px;
}

.right-section {
    display: inline-block;
    width: 100%;
    max-width: 313px;
    margin-left: 16px;
    text-align: start;
    margin-right: 16px;
}

.img-author {
    width: 120px;
    height: 120px;
    border-radius: 64px;
    margin-top: 27px;
}

.title {

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 0px;
}

.profesion {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    display: block;
}

.youtube {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.links {
    margin-top: 16px;
    margin-bottom: 20px;
}

.logo-img {
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
}

.right-title {
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
    display: block;
}

.right-links {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #7447D7;
    margin-bottom: 8px;
}

.phone-link {
    color: #101828;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}



.img-mail {
    display: inline-block;
}

.street-link {
    color: #101828;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.underline-none {
    text-decoration: none;
    color: #7447D7;
}